openapi: 3.0.1
info:
  title: eSIM-Go API
  version: 2.5.0
  description: |
    To access the eSIMGo API, you need to authenticate your requests using an API key.
    Here's a brief overview of the authentication process:
      1. Assuming that you have created account already:
      - Log into your eSIMGo account at https://sso.esim-go.com/login.
      - Navigate to Account Settings -> API Details to find your API key.
      - Keep your API key secure and avoid sharing it with others.
      2. API Key Usage:
      - Include your API key in the header of all eSIMGo API requests.
      - Use the header key 'X-API-KEY' with your API key as the value.
      3. Security Scheme:
      - The eSIMGo API uses an HTTP security scheme type for authentication.
      4. Authorization Types:
      - The API supports 'apiKeyAuth' authorization type.
servers:
  - url: https://api.esim-go.com/v2.5
    description: eSIMGo API
tags:
  - name: API
  - name: Callback
  - name: Orders
  - name: eSIMs
  - name: eSIMs (Deprecated)
  - name: Organisation
  - name: Inventory
  - name: Catalogue
  - name: Networks
paths:
  /your-usage-callback-url/:
    post:
      tags:
        - Callback
      summary: eSIM Usage Callback
      x-explorer-enabled: false
      description: |
        **Note:** V3 of the Callback system is now available and provides additional data as well as HMAC signature validation.
        **This must be enabled in the eSIM Portal.**
        V2 of the Callback system is still available by default, but will be disabled in the future.

         To enable it on the eSIM Portal go to Account Settings -> API Details -> Callback Version.


        **Description:**
        The eSIMGo API offers a callback functionality that provides real-time notifications about eSIM activity, including data consumption and balance. This feature allows for tracking usage, automating responses, and customizing notifications, enhancing customer account management.
        Key benefits include real-time updates, usage tracking, automated responses, and customizable notifications.
        When data is used on an eSIM, a usage event can be sent to a URL defined by you in the eSIM Portal. The usage event will report the current bundle in use by an eSIM, and its remaining data.

          To set up the URL in the eSIM Portal go to Account Settings -> API Details -> Callback URL.



        Example of validating HMAC body in NodeJS:

        ```javascript
        import crypto from "crypto";

        const signature = crypto
            .createHmac("sha256", key) // key is your API Key
            .update(body) // body is the raw (string) request body
            .digest("base64");

        const matches = signature === signatureHeader;
        ```

        Validation uses your API Key as the HMAC key.
        The body of the request is the raw (string) request body, and should not be parsed as JSON before validation.

        **Note:** Bundle names are case sensitive e.g. "esim_1GB_7D_IM_U".

        **Request Body Notes:**
        - The "try" button for this endpoint is **NOT** functional
        - The schema defines an example message that is sent to the configured callback URL.
        - For more information on callback notification types, Please see the [Notifications Page](/api/notifications#overview).
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BundleAlert"
            example:
              iccid: "8944538532008160222"
              alertType: Utilisation
              bundle:
                id: "123456789"
                name: A_BUNDLE_20GB_30D_EU_U
                description: A Bundle, 20GB, 30 Days, EU, Unthrottled
                initialQuantity: 20000000000
                remainingQuantity: 19000000000
                startTime: "2006-01-02T15:04:05Z"
                endTime: "2007-01-02T15:04:05Z"
                reference: 12345-12345-12345-12345-0
                unlimited: false
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |-
            curl 'https://api.esim-go.com/v2.5/your-usage-callback-url/' \
            -H 'X-API-Key: $API_KEY' \
            -H 'Content-Type: application/json' \
            -d '{"$ref":"#/components/schemas/BundleAlert"}'
        - lang: javascript
          label: Node
          source: |
            const axios = require('axios');
            let data = JSON.stringify({
              "$ref": "#/components/schemas/BundleAlert"
            });

            let config = {
              method: 'post',
              maxBodyLength: Infinity,
              url: 'https://api.esim-go.com/v2.5/your-usage-callback-url/',
              headers: { 
                'X-API-Key': '$API_KEY', 
                'Content-Type': 'application/json'
              },
              data : data
            };

            axios.request(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
            })
            .catch((error) => {
              console.log(error);
            });
        - lang: go
          label: Go
          source: |-
            package main

            import (
              "fmt"
              "strings"
              "net/http"
              "io"
            )

            func main() {

              url := "https://api.esim-go.com/v2.5/your-usage-callback-url/"
              method := "POST"

              payload := strings.NewReader(`{"$ref":"#/components/schemas/BundleAlert"}`)

              client := &http.Client {
              }
              req, err := http.NewRequest(method, url, payload)

              if err != nil {
                fmt.Println(err)
                return
              }
              req.Header.Add("X-API-Key", "$API_KEY")
              req.Header.Add("Content-Type", "application/json")

              res, err := client.Do(req)
              if err != nil {
                fmt.Println(err)
                return
              }
              defer res.Body.Close()

              body, err := io.ReadAll(res.Body)
              if err != nil {
                fmt.Println(err)
                return
              }
              fmt.Println(string(body))
            }
        - lang: python
          label: Python
          source: |
            import requests
            import json

            url = "https://api.esim-go.com/v2.5/your-usage-callback-url/"

            payload = json.dumps({
              "$ref": "#/components/schemas/BundleAlert"
            })
            headers = {
              'X-API-Key': '$API_KEY',
              'Content-Type': 'application/json'
            }

            response = requests.request("POST", url, headers=headers, data=payload)

            print(response.text)
        - lang: csharp
          label: C#
          source: |
            var client = new HttpClient();
            var request = new HttpRequestMessage(HttpMethod.Post, "https://api.esim-go.com/v2.5/your-usage-callback-url/");
            request.Headers.Add("X-API-Key", "$API_KEY");
            var content = new StringContent("{\"$ref\":\"#/components/schemas/BundleAlert\"}", null, "application/json");
            request.Content = content;
            var response = await client.SendAsync(request);
            response.EnsureSuccessStatusCode();
            Console.WriteLine(await response.Content.ReadAsStringAsync());
        - lang: java
          label: Java
          source: |
            Unirest.setTimeouts(0, 0);
            HttpResponse<String> response = Unirest.post("https://api.esim-go.com/v2.5/your-usage-callback-url/")
              .header("X-API-Key", "$API_KEY")
              .header("Content-Type", "application/json")
              .body("{\"$ref\":\"#/components/schemas/BundleAlert\"}")
              .asString();
  /esims:
    get:
      summary: List eSIMs
      description: |
        This endpoint retrieves all eSIMs currently assigned to your organization. It provides a comprehensive view of your eSIM inventory with flexible options for data retrieval and management.

        **Key Features:**
          1. Pagination: Efficiently manage large datasets by specifying the page number and items per page.
          2. Sorting: Customize the order of results using the 'direction' and 'orderBy' parameters.
          3. Filtering: Refine your search with multiple filter options for precise data retrieval.
      tags:
        - eSIMs
      parameters:
        - in: query
          name: page
          schema:
            type: string
          description: Page of ESIMs to return
        - in: query
          name: perPage
          schema:
            type: integer
            enum:
              - 10
              - 25
              - 50
              - 100
          description: Number of ESIMs to return per page
        - in: query
          name: direction
          schema:
            type: string
            enum:
              - asc
              - desc
          description: Direction of ordering
        - in: query
          name: orderBy
          schema:
            type: string
            enum:
              - iccid
          description: Name of column to order by
        - in: query
          name: filterBy
          schema:
            type: string
            enum:
              - iccid, customerRef, lastAction, actionDate, assignedDate
          description: Name of column to filter by. eSIMs can be filtered by ICCID, Customer Reference, Last Action (Bundle Refund, Bundle Applied, Bundle Revoked, eSIM Updated, eSIM Refreshed, eSIM Utilisation Alert), Last Action Date and SIM Assignment Date.
        - in: query
          name: filter
          schema:
            type: string
          description: Value to filter by
      security:
        - apiKeyAuth: []
      responses:
        "200":
          description: A list of your eSIMs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ESIMs"
              example:
                esims:
                  - iccid: "8901234567890123456"
                    customerRef: CUST001
                    lastAction: Bundle Applied
                    actionDate: "2023-05-15T14:30:00Z"
                    physical: false
                    assignedDate: "2023-05-01T10:00:00Z"
                    state: active
                  - iccid: "8909876543210987654"
                    customerRef: CUST002
                    lastAction: Activated
                    actionDate: "2023-05-16T09:15:00Z"
                    physical: true
                    assignedDate: "2023-05-10T11:30:00Z"
                    state: suspended
        "400":
          description: Bad Request - returned when incorrect data given
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "403":
          description: Unauthorised - returned when the api token is invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |-
            curl 'https://api.esim-go.com/v2.5/esims' \
            -H 'X-API-Key: $API_KEY' \
            -H 'Content-Type: application/json'
        - lang: javascript
          label: Node
          source: |
            const axios = require('axios');

            let config = {
              method: 'get',
              maxBodyLength: Infinity,
              url: 'https://api.esim-go.com/v2.5/esims',
              headers: { 
                'X-API-Key': '$API_KEY', 
                'Content-Type': 'application/json'
              }
            };

            axios.request(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
            })
            .catch((error) => {
              console.log(error);
            });
        - lang: go
          label: Go
          source: |-
            package main

            import (
              "fmt"
              "net/http"
              "io"
            )

            func main() {

              url := "https://api.esim-go.com/v2.5/esims"
              method := "GET"

              client := &http.Client {
              }
              req, err := http.NewRequest(method, url, nil)

              if err != nil {
                fmt.Println(err)
                return
              }
              req.Header.Add("X-API-Key", "$API_KEY")
              req.Header.Add("Content-Type", "application/json")

              res, err := client.Do(req)
              if err != nil {
                fmt.Println(err)
                return
              }
              defer res.Body.Close()

              body, err := io.ReadAll(res.Body)
              if err != nil {
                fmt.Println(err)
                return
              }
              fmt.Println(string(body))
            }
        - lang: python
          label: Python
          source: |
            import requests
            import json

            url = "https://api.esim-go.com/v2.5/esims"

            payload = {}
            headers = {
              'X-API-Key': '$API_KEY',
              'Content-Type': 'application/json'
            }

            response = requests.request("GET", url, headers=headers, data=payload)

            print(response.text)
        - lang: csharp
          label: C#
          source: |
            var client = new HttpClient();
            var request = new HttpRequestMessage(HttpMethod.Get, "https://api.esim-go.com/v2.5/esims");
            request.Headers.Add("X-API-Key", "$API_KEY");
            var content = new StringContent(string.Empty);
            content.Headers.ContentType = new MediaTypeHeaderValue("application/json");
            request.Content = content;
            var response = await client.SendAsync(request);
            response.EnsureSuccessStatusCode();
            Console.WriteLine(await response.Content.ReadAsStringAsync());
        - lang: java
          label: Java
          source: |
            Unirest.setTimeouts(0, 0);
            HttpResponse<String> response = Unirest.get("https://api.esim-go.com/v2.5/esims")
              .header("X-API-Key", "$API_KEY")
              .header("Content-Type", "application/json")
              .asString();
    put:
      summary: Update eSIM Details
      description: |
        A feature that enables the association of a unique identifier with an eSIM. This functionality allows for the integration of relevant operational data, such as customer order IDs.
      tags:
        - eSIMs
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: iccid
          in: query
          schema:
            type: string
          description: (Required) ICCID of eSIM
          example: 8944123456789012000
        - name: customerRef
          in: query
          schema:
            type: string
          description: (Required) New Customer Reference
          example: Test
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSimDetails"
            example:
              iccid: "8944123456789012345"
              customerRef: ref-123
      security:
        - apiKeyAuth: []
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusMessage"
              example:
                status: success
        "400":
          description: Bad Request - returned when request format is not accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "403":
          description: Unauthorised - returned when the api token is invalid; the user does not have any available Bundles left or the ICCID is not accessible by the user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "503":
          description: Processing - Please come back later or use the *Retry-After* (seconds) header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |-
            curl -X PUT 'https://api.esim-go.com/v2.5/esims' \
            -H 'X-API-Key: $API_KEY' \
            -H 'Content-Type: application/json' \
            -d '{"$ref":"#/components/schemas/UpdateSimDetails"}'
        - lang: javascript
          label: Node
          source: |
            const axios = require('axios');
            let data = JSON.stringify({
              "$ref": "#/components/schemas/UpdateSimDetails"
            });

            let config = {
              method: 'put',
              maxBodyLength: Infinity,
              url: 'https://api.esim-go.com/v2.5/esims',
              headers: { 
                'X-API-Key': '$API_KEY', 
                'Content-Type': 'application/json'
              },
              data : data
            };

            axios.request(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
            })
            .catch((error) => {
              console.log(error);
            });
        - lang: go
          label: Go
          source: |-
            package main

            import (
              "fmt"
              "strings"
              "net/http"
              "io"
            )

            func main() {

              url := "https://api.esim-go.com/v2.5/esims"
              method := "PUT"

              payload := strings.NewReader(`{"$ref":"#/components/schemas/UpdateSimDetails"}`)

              client := &http.Client {
              }
              req, err := http.NewRequest(method, url, payload)

              if err != nil {
                fmt.Println(err)
                return
              }
              req.Header.Add("X-API-Key", "$API_KEY")
              req.Header.Add("Content-Type", "application/json")

              res, err := client.Do(req)
              if err != nil {
                fmt.Println(err)
                return
              }
              defer res.Body.Close()

              body, err := io.ReadAll(res.Body)
              if err != nil {
                fmt.Println(err)
                return
              }
              fmt.Println(string(body))
            }
        - lang: python
          label: Python
          source: |
            import requests
            import json

            url = "https://api.esim-go.com/v2.5/esims"

            payload = json.dumps({
              "$ref": "#/components/schemas/UpdateSimDetails"
            })
            headers = {
              'X-API-Key': '$API_KEY',
              'Content-Type': 'application/json'
            }

            response = requests.request("PUT", url, headers=headers, data=payload)

            print(response.text)
        - lang: csharp
          label: C#
          source: |
            var client = new HttpClient();
            var request = new HttpRequestMessage(HttpMethod.Put, "https://api.esim-go.com/v2.5/esims");
            request.Headers.Add("X-API-Key", "$API_KEY");
            var content = new StringContent("{\"$ref\":\"#/components/schemas/UpdateSimDetails\"}", null, "application/json");
            request.Content = content;
            var response = await client.SendAsync(request);
            response.EnsureSuccessStatusCode();
            Console.WriteLine(await response.Content.ReadAsStringAsync());
        - lang: java
          label: Java
          source: |
            Unirest.setTimeouts(0, 0);
            HttpResponse<String> response = Unirest.put("https://api.esim-go.com/v2.5/esims")
              .header("X-API-Key", "$API_KEY")
              .header("Content-Type", "application/json")
              .body("{\"$ref\":\"#/components/schemas/UpdateSimDetails\"}")
              .asString();
  /esims/apply:
    post:
      summary: Apply Bundle to an eSIM
      description: |
        # eSIM Provisioning and Bundle Application Endpoint

        This endpoint allows you to obtain a new eSIM with a pre-applied Bundle or apply a Bundle to an existing eSIM.

        ## Key Features:
        1. Assign Bundles to new or existing eSIMs
        2. Option to request multiple eSIMs with the same Bundle
        3. Ability to assign different Bundles to separate new eSIMs

        ## Usage Guidelines:
        - Provide either 'Bundle' or 'Bundles' parameter
        - ICCID is optional for existing eSIMs
        - 'Repeat' parameter for multiple new eSIMs (incompatible with ICCID)
        - Bundle names are case-sensitive (e.g., "esim_1GB_7D_IM_U")

        ## Important Notes:
        - Requires pre-purchased Bundles in your account inventory
        - Bundle activation usually instant, but allow up to 10 minutes for full processing
        - eSIM can be installed and registered on a network during processing
        - The Bundle Status can be checked through [Get the Status of a bundle assigned to an eSIM](/api/v2_4/operations/esimsiccidbundlesname/get/)
        - Deactivated eSIMs cannot have bundles applied and will return a 400 Bad Request error

        The endpoint always returns the ICCID in the response.
      tags:
        - eSIMs
      requestBody:
        description: Details of Bundle to apply to eSIM
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/ApplyBundleWithICCIDRequest"
                - $ref: "#/components/schemas/ApplyBundleWithList"
            examples:
              New eSIM (or topup existing eSIM):
                value:
                  iccid: "8943108165015003887"
                  name: A_BUNDLE_20GB_30D_EU_U
                  allowReassign: false
              Mixed Bundles:
                value:
                  bundles:
                    - name: A_BUNDLE_20GB_30D_EU_U
                    - name: A_BUNDLE_20GB_30D_EU_U
      security:
        - apiKeyAuth: []
      responses:
        "200":
          description: Success message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ESIMApplyResponse"
              example:
                esims:
                  - iccid: "8944123456789012345"
                    status: ACTIVE
                applyReference: 123e4567-e89b-12d3-a456-426614174000
        "400":
          description: Bad Request - returned when request format is not accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "403":
          description: Unauthorised - returned when the api token is invalid; the user does not have any available Bundles left or the ICCID is not accessible by the user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "503":
          description: Processing - Please come back later or use the *Retry-After* (seconds) header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |-
            curl 'https://api.esim-go.com/v2.5/esims/apply' \
            -H 'X-API-Key: $API_KEY' \
            -H 'Content-Type: application/json' \
            -d '{"oneOf":[{"$ref":"#/components/schemas/ApplyBundleWithICCIDRequest"},{"$ref":"#/components/schemas/ApplyBundleWithList"}]}'
        - lang: javascript
          label: Node
          source: |
            const axios = require('axios');
            let data = JSON.stringify({
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ApplyBundleWithICCIDRequest"
                },
                {
                  "$ref": "#/components/schemas/ApplyBundleWithList"
                }
              ]
            });

            let config = {
              method: 'post',
              maxBodyLength: Infinity,
              url: 'https://api.esim-go.com/v2.5/esims/apply',
              headers: { 
                'X-API-Key': '$API_KEY', 
                'Content-Type': 'application/json'
              },
              data : data
            };

            axios.request(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
            })
            .catch((error) => {
              console.log(error);
            });
        - lang: go
          label: Go
          source: |-
            package main

            import (
              "fmt"
              "strings"
              "net/http"
              "io"
            )

            func main() {

              url := "https://api.esim-go.com/v2.5/esims/apply"
              method := "POST"

              payload := strings.NewReader(`{"oneOf":[{"$ref":"#/components/schemas/ApplyBundleWithICCIDRequest"},{"$ref":"#/components/schemas/ApplyBundleWithList"}]}`)

              client := &http.Client {
              }
              req, err := http.NewRequest(method, url, payload)

              if err != nil {
                fmt.Println(err)
                return
              }
              req.Header.Add("X-API-Key", "$API_KEY")
              req.Header.Add("Content-Type", "application/json")

              res, err := client.Do(req)
              if err != nil {
                fmt.Println(err)
                return
              }
              defer res.Body.Close()

              body, err := io.ReadAll(res.Body)
              if err != nil {
                fmt.Println(err)
                return
              }
              fmt.Println(string(body))
            }
        - lang: python
          label: Python
          source: |
            import requests
            import json

            url = "https://api.esim-go.com/v2.5/esims/apply"

            payload = json.dumps({
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ApplyBundleWithICCIDRequest"
                },
                {
                  "$ref": "#/components/schemas/ApplyBundleWithList"
                }
              ]
            })
            headers = {
              'X-API-Key': '$API_KEY',
              'Content-Type': 'application/json'
            }

            response = requests.request("POST", url, headers=headers, data=payload)

            print(response.text)
        - lang: csharp
          label: C#
          source: |
            var client = new HttpClient();
            var request = new HttpRequestMessage(HttpMethod.Post, "https://api.esim-go.com/v2.5/esims/apply");
            request.Headers.Add("X-API-Key", "$API_KEY");
            var content = new StringContent("{\"oneOf\":[{\"$ref\":\"#/components/schemas/ApplyBundleWithICCIDRequest\"},{\"$ref\":\"#/components/schemas/ApplyBundleWithList\"}]}", null, "application/json");
            request.Content = content;
            var response = await client.SendAsync(request);
            response.EnsureSuccessStatusCode();
            Console.WriteLine(await response.Content.ReadAsStringAsync());
        - lang: java
          label: Java
          source: |
            Unirest.setTimeouts(0, 0);
            HttpResponse<String> response = Unirest.post("https://api.esim-go.com/v2.5/esims/apply")
              .header("X-API-Key", "$API_KEY")
              .header("Content-Type", "application/json")
              .body("{\"oneOf\":[{\"$ref\":\"#/components/schemas/ApplyBundleWithICCIDRequest\"},{\"$ref\":\"#/components/schemas/ApplyBundleWithList\"}]}")
              .asString();
  /esims/qr/{reference}:
    get:
      summary: Get QR codes for eSIMs from an Order or Bundle apply reference (Deprecated)
      description: |
        Get multiple QR codes by providing an Order or Apply Reference. Returns multiple QR codes as `.PNG` contained in a `.ZIP`.

        Deactivated eSIMs will return a 410 Gone error.

        Deprecated: See `/esims/assignments`
      tags:
        - eSIMs (Deprecated)
      parameters:
        - in: path
          name: reference
          schema:
            type: string
          required: true
          description: Order Reference or Apply Reference
      security:
        - apiKeyAuth: []
      responses:
        "200":
          description: QR code image in a ZIP file
          content:
            application/zip:
              schema:
                type: zip
                example: cfb94100-1c41-4d0e-9ff2-0dsfn23vd1121233cda46.zip
        "400":
          description: Bad Request - returned when request format is not accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "403":
          description: Unauthorised - returned when the api token is invalid or the user does not have permission to query the given ICCID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "410":
          description: Gone - returned when the eSIM has been deactivated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |-
            curl -g 'https://api.esim-go.com/v2.5/esims/qr/{reference}' \
            -H 'X-API-Key: $API_KEY' \
            -H 'Content-Type: application/json'
        - lang: javascript
          label: Node
          source: |
            const axios = require('axios');

            let config = {
              method: 'get',
              maxBodyLength: Infinity,
              url: 'https://api.esim-go.com/v2.5/esims/qr/{reference}',
              headers: { 
                'X-API-Key': '$API_KEY', 
                'Content-Type': 'application/json'
              }
            };

            axios.request(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
            })
            .catch((error) => {
              console.log(error);
            });
        - lang: go
          label: Go
          source: |-
            package main

            import (
              "fmt"
              "net/http"
              "io"
            )

            func main() {

              url := "https://api.esim-go.com/v2.5/esims/qr/{reference}"
              method := "GET"

              client := &http.Client {
              }
              req, err := http.NewRequest(method, url, nil)

              if err != nil {
                fmt.Println(err)
                return
              }
              req.Header.Add("X-API-Key", "$API_KEY")
              req.Header.Add("Content-Type", "application/json")

              res, err := client.Do(req)
              if err != nil {
                fmt.Println(err)
                return
              }
              defer res.Body.Close()

              body, err := io.ReadAll(res.Body)
              if err != nil {
                fmt.Println(err)
                return
              }
              fmt.Println(string(body))
            }
        - lang: python
          label: Python
          source: |
            import requests
            import json

            url = "https://api.esim-go.com/v2.5/esims/qr/{reference}"

            payload = {}
            headers = {
              'X-API-Key': '$API_KEY',
              'Content-Type': 'application/json'
            }

            response = requests.request("GET", url, headers=headers, data=payload)

            print(response.text)
        - lang: csharp
          label: C#
          source: |
            var client = new HttpClient();
            var request = new HttpRequestMessage(HttpMethod.Get, "https://api.esim-go.com/v2.5/esims/qr/{reference}");
            request.Headers.Add("X-API-Key", "$API_KEY");
            var content = new StringContent(string.Empty);
            content.Headers.ContentType = new MediaTypeHeaderValue("application/json");
            request.Content = content;
            var response = await client.SendAsync(request);
            response.EnsureSuccessStatusCode();
            Console.WriteLine(await response.Content.ReadAsStringAsync());
        - lang: java
          label: Java
          source: |
            Unirest.setTimeouts(0, 0);
            HttpResponse<String> response = Unirest.get("https://api.esim-go.com/v2.5/esims/qr/{reference}")
              .header("X-API-Key", "$API_KEY")
              .header("Content-Type", "application/json")
              .asString();
  /esims/csv/{reference}:
    get:
      summary: Get CSV containing eSIMs from an Order or Bundle apply (Deprecated)
      description: |
        Get eSIM SMDP+ details by providing an Order or Apply Reference.

        Contains ICCID, SMDP+ address and Matching ID.

        Deprecated: See `/esims/assignments`
      tags:
        - eSIMs (Deprecated)
      parameters:
        - in: path
          name: reference
          schema:
            type: string
          required: true
          description: Order Reference or Apply Reference
        - in: query
          name: additionalFields
          schema:
            type: array
            items:
              type: string
              enum:
                - appleInstallUrl
                - installUrl
          explode: true
      security:
        - apiKeyAuth: []
      responses:
        "200":
          description: CSV
          content:
            text/csv:
              schema:
                type: string
                example: |
                  "ICCID","Matching ID","RSP URL","Bundle"
                  "Value 1","Value 2","Value 3","Value 4"
        "400":
          description: Bad Request - returned when the given ICCID is not found and/or permission to view this ICCID is not granted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "403":
          description: Unauthorised - returned when the api token is invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |-
            curl -g 'https://api.esim-go.com/v2.5/esims/csv/{reference}' \
            -H 'X-API-Key: $API_KEY' \
            -H 'Content-Type: application/json'
        - lang: javascript
          label: Node
          source: |
            const axios = require('axios');

            let config = {
              method: 'get',
              maxBodyLength: Infinity,
              url: 'https://api.esim-go.com/v2.5/esims/csv/{reference}',
              headers: { 
                'X-API-Key': '$API_KEY', 
                'Content-Type': 'application/json'
              }
            };

            axios.request(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
            })
            .catch((error) => {
              console.log(error);
            });
        - lang: go
          label: Go
          source: |-
            package main

            import (
              "fmt"
              "net/http"
              "io"
            )

            func main() {

              url := "https://api.esim-go.com/v2.5/esims/csv/{reference}"
              method := "GET"

              client := &http.Client {
              }
              req, err := http.NewRequest(method, url, nil)

              if err != nil {
                fmt.Println(err)
                return
              }
              req.Header.Add("X-API-Key", "$API_KEY")
              req.Header.Add("Content-Type", "application/json")

              res, err := client.Do(req)
              if err != nil {
                fmt.Println(err)
                return
              }
              defer res.Body.Close()

              body, err := io.ReadAll(res.Body)
              if err != nil {
                fmt.Println(err)
                return
              }
              fmt.Println(string(body))
            }
        - lang: python
          label: Python
          source: |
            import requests
            import json

            url = "https://api.esim-go.com/v2.5/esims/csv/{reference}"

            payload = {}
            headers = {
              'X-API-Key': '$API_KEY',
              'Content-Type': 'application/json'
            }

            response = requests.request("GET", url, headers=headers, data=payload)

            print(response.text)
        - lang: csharp
          label: C#
          source: |
            var client = new HttpClient();
            var request = new HttpRequestMessage(HttpMethod.Get, "https://api.esim-go.com/v2.5/esims/csv/{reference}");
            request.Headers.Add("X-API-Key", "$API_KEY");
            var content = new StringContent(string.Empty);
            content.Headers.ContentType = new MediaTypeHeaderValue("application/json");
            request.Content = content;
            var response = await client.SendAsync(request);
            response.EnsureSuccessStatusCode();
            Console.WriteLine(await response.Content.ReadAsStringAsync());
        - lang: java
          label: Java
          source: |
            Unirest.setTimeouts(0, 0);
            HttpResponse<String> response = Unirest.get("https://api.esim-go.com/v2.5/esims/csv/{reference}")
              .header("X-API-Key", "$API_KEY")
              .header("Content-Type", "application/json")
              .asString();
  /esims/assignments:
    get:
      summary: Get eSIM Install Details
      description: |
        # eSIM SMDP+ Details Retrieval Endpoint

        This API endpoint retrieves eSIM SMDP+ details based on provided Order or Apply References.

        ## Key features:

        1. Input: One or multiple reference numbers can be submitted via query parameters.
        2. Output: For each reference, the system returns:
           - ICCID (Integrated Circuit Card Identifier)
           - SMDP+ (Subscription Manager Data Preparation) address
           - Matching ID
        3. Output format options:
           - Default: text/csv
           - Alternative formats: application/json, application/zip
           - Format selection is controlled via the 'Accept' header in the request
        4. Special functionality: When requesting 'application/zip', the response is a ZIP file containing QR code images in PNG format.

        Deactivated eSIMs will return a 410 Gone error.
      tags:
        - eSIMs
      parameters:
        - name: reference
          in: query
          schema:
            type: string
          description: (Required) Order Reference or Apply Reference
        - name: additionalFields
          in: query
          schema:
            type: string
          example: installUrl
      security:
        - apiKeyAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/eSIMDetailsInstallResponse"
              example:
                iccid: "8944123456789012345"
                matchingId: A1B2-C3D4-E5F6-G7H8
                smdpAddress: http://smdp.example.com
                profileStatus: Released
                pin: "1234"
                puk: "12345678"
                firstInstalledDateTime: "2023-06-15T14:30:00.000Z"
        "400":
          description: Bad Request - returned when request format is not accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "403":
          description: Unauthorised - returned when the api token is invalid; the user does not have any available Bundles left or the ICCID is not accessible by the user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "410":
          description: Gone - returned when the eSIM has been deactivated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "503":
          description: Processing - Please come back later or use the *Retry-After* (seconds) header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |-
            curl 'https://api.esim-go.com/v2.5/esims/assignments' \
            -H 'X-API-Key: $API_KEY' \
            -H 'Content-Type: application/json'
        - lang: javascript
          label: Node
          source: |
            const axios = require('axios');

            let config = {
              method: 'get',
              maxBodyLength: Infinity,
              url: 'https://api.esim-go.com/v2.5/esims/assignments',
              headers: { 
                'X-API-Key': '$API_KEY', 
                'Content-Type': 'application/json'
              }
            };

            axios.request(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
            })
            .catch((error) => {
              console.log(error);
            });
        - lang: go
          label: Go
          source: |-
            package main

            import (
              "fmt"
              "net/http"
              "io"
            )

            func main() {

              url := "https://api.esim-go.com/v2.5/esims/assignments"
              method := "GET"

              client := &http.Client {
              }
              req, err := http.NewRequest(method, url, nil)

              if err != nil {
                fmt.Println(err)
                return
              }
              req.Header.Add("X-API-Key", "$API_KEY")
              req.Header.Add("Content-Type", "application/json")

              res, err := client.Do(req)
              if err != nil {
                fmt.Println(err)
                return
              }
              defer res.Body.Close()

              body, err := io.ReadAll(res.Body)
              if err != nil {
                fmt.Println(err)
                return
              }
              fmt.Println(string(body))
            }
        - lang: python
          label: Python
          source: |
            import requests
            import json

            url = "https://api.esim-go.com/v2.5/esims/assignments"

            payload = {}
            headers = {
              'X-API-Key': '$API_KEY',
              'Content-Type': 'application/json'
            }

            response = requests.request("GET", url, headers=headers, data=payload)

            print(response.text)
        - lang: csharp
          label: C#
          source: |
            var client = new HttpClient();
            var request = new HttpRequestMessage(HttpMethod.Get, "https://api.esim-go.com/v2.5/esims/assignments");
            request.Headers.Add("X-API-Key", "$API_KEY");
            var content = new StringContent(string.Empty);
            content.Headers.ContentType = new MediaTypeHeaderValue("application/json");
            request.Content = content;
            var response = await client.SendAsync(request);
            response.EnsureSuccessStatusCode();
            Console.WriteLine(await response.Content.ReadAsStringAsync());
        - lang: java
          label: Java
          source: |
            Unirest.setTimeouts(0, 0);
            HttpResponse<String> response = Unirest.get("https://api.esim-go.com/v2.5/esims/assignments")
              .header("X-API-Key", "$API_KEY")
              .header("Content-Type", "application/json")
              .asString();
  /esims/{iccid}:
    get:
      summary: Get eSIM details
      description: |
        This endpoint allows you to retrieve detailed information about a
        specific eSIM using its ICCID (Integrated Circuit Card Identifier).

        eSIM profile statuses:

        **Released** - The eSIM is not installed. If there is a firstInstalledDateTime then the eSIM has been installed previously and then uninstalled again.

        **Installed** - The eSIM is installed.

        **Downloaded** - This is unlikely to be seen very often. It would be when the bundle has been delivered to LPA, but the eSIM has not yet been released.

        **Unavailable** - An eSIM in this status cannot be installed. We recommend reissuing a new eSIM instead, especially if the eSIM is not already installed.

        **Deactivated** - The eSIM has been deactivated and can no longer be used.
      tags:
        - eSIMs
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: additionalFields
          in: query
          schema:
            type: string
          example: installUrl
        - name: iccid
          in: path
          schema:
            type: string
          required: true
          description: (Required) The ICCID of the eSIM
          example: 8944123456789012000
      security:
        - apiKeyAuth: []
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/eSIMDetailsResponse"
        "400":
          description: Bad Request - returned when request format is not accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "403":
          description: Unauthorised - returned when the api token is invalid; the user does not have any available Bundles left or the ICCID is not accessible by the user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "503":
          description: Processing - Please come back later or use the *Retry-After* (seconds) header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |-
            curl -g 'https://api.esim-go.com/v2.5/esims/{iccid}' \
            -H 'X-API-Key: $API_KEY' \
            -H 'Content-Type: application/json'
        - lang: javascript
          label: Node
          source: |
            const axios = require('axios');

            let config = {
              method: 'get',
              maxBodyLength: Infinity,
              url: 'https://api.esim-go.com/v2.5/esims/{iccid}',
              headers: { 
                'X-API-Key': '$API_KEY', 
                'Content-Type': 'application/json'
              }
            };

            axios.request(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
            })
            .catch((error) => {
              console.log(error);
            });
        - lang: go
          label: Go
          source: |-
            package main

            import (
              "fmt"
              "net/http"
              "io"
            )

            func main() {

              url := "https://api.esim-go.com/v2.5/esims/{iccid}"
              method := "GET"

              client := &http.Client {
              }
              req, err := http.NewRequest(method, url, nil)

              if err != nil {
                fmt.Println(err)
                return
              }
              req.Header.Add("X-API-Key", "$API_KEY")
              req.Header.Add("Content-Type", "application/json")

              res, err := client.Do(req)
              if err != nil {
                fmt.Println(err)
                return
              }
              defer res.Body.Close()

              body, err := io.ReadAll(res.Body)
              if err != nil {
                fmt.Println(err)
                return
              }
              fmt.Println(string(body))
            }
        - lang: python
          label: Python
          source: |
            import requests
            import json

            url = "https://api.esim-go.com/v2.5/esims/{iccid}"

            payload = {}
            headers = {
              'X-API-Key': '$API_KEY',
              'Content-Type': 'application/json'
            }

            response = requests.request("GET", url, headers=headers, data=payload)

            print(response.text)
        - lang: csharp
          label: C#
          source: |
            var client = new HttpClient();
            var request = new HttpRequestMessage(HttpMethod.Get, "https://api.esim-go.com/v2.5/esims/{iccid}");
            request.Headers.Add("X-API-Key", "$API_KEY");
            var content = new StringContent(string.Empty);
            content.Headers.ContentType = new MediaTypeHeaderValue("application/json");
            request.Content = content;
            var response = await client.SendAsync(request);
            response.EnsureSuccessStatusCode();
            Console.WriteLine(await response.Content.ReadAsStringAsync());
        - lang: java
          label: Java
          source: |
            Unirest.setTimeouts(0, 0);
            HttpResponse<String> response = Unirest.get("https://api.esim-go.com/v2.5/esims/{iccid}")
              .header("X-API-Key", "$API_KEY")
              .header("Content-Type", "application/json")
              .asString();
    delete:
      summary: Delete eSIM
      description: |
        This endpoint allows you to delete a specific eSIM.

        **IMPORTANT:** Deleting an eSIM will revoke all bundles without a refund, and 
        will remove the eSIM from your account - you will no longer be able to access it.
        This process is irreversible.
      tags:
        - eSIMs
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: iccid
          in: path
          schema:
            type: string
          required: true
          description: (Required) The ICCID of the eSIM
          example: 8944123456789012000
      security:
        - apiKeyAuth: []
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusMessage"
        "400":
          description: Bad Request - returned when request format is not accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "403":
          description: Unauthorised - returned when the api token is invalid or the user does not have permission to query the given ICCID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |-
            curl -g -X DELETE 'https://api.esim-go.com/v2.5/esims/{iccid}' \
            -H 'X-API-Key: $API_KEY' \
            -H 'Content-Type: application/json'
        - lang: javascript
          label: Node
          source: |
            const axios = require('axios');

            let config = {
              method: 'delete',
              maxBodyLength: Infinity,
              url: 'https://api.esim-go.com/v2.5/esims/{iccid}',
              headers: { 
                'X-API-Key': '$API_KEY', 
                'Content-Type': 'application/json'
              }
            };

            axios.request(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
            })
            .catch((error) => {
              console.log(error);
            });
        - lang: go
          label: Go
          source: |-
            package main

            import (
              "fmt"
              "net/http"
              "io"
            )

            func main() {

              url := "https://api.esim-go.com/v2.5/esims/{iccid}"
              method := "DELETE"

              client := &http.Client {
              }
              req, err := http.NewRequest(method, url, nil)

              if err != nil {
                fmt.Println(err)
                return
              }
              req.Header.Add("X-API-Key", "$API_KEY")
              req.Header.Add("Content-Type", "application/json")

              res, err := client.Do(req)
              if err != nil {
                fmt.Println(err)
                return
              }
              defer res.Body.Close()

              body, err := io.ReadAll(res.Body)
              if err != nil {
                fmt.Println(err)
                return
              }
              fmt.Println(string(body))
            }
        - lang: python
          label: Python
          source: |
            import requests
            import json

            url = "https://api.esim-go.com/v2.5/esims/{iccid}"

            payload = {}
            headers = {
              'X-API-Key': '$API_KEY',
              'Content-Type': 'application/json'
            }

            response = requests.request("DELETE", url, headers=headers, data=payload)

            print(response.text)
        - lang: csharp
          label: C#
          source: |
            var client = new HttpClient();
            var request = new HttpRequestMessage(HttpMethod.Delete, "https://api.esim-go.com/v2.5/esims/{iccid}");
            request.Headers.Add("X-API-Key", "$API_KEY");
            var content = new StringContent(string.Empty);
            content.Headers.ContentType = new MediaTypeHeaderValue("application/json");
            request.Content = content;
            var response = await client.SendAsync(request);
            response.EnsureSuccessStatusCode();
            Console.WriteLine(await response.Content.ReadAsStringAsync());
        - lang: java
          label: Java
          source: |
            Unirest.setTimeouts(0, 0);
            HttpResponse<String> response = Unirest.delete("https://api.esim-go.com/v2.5/esims/{iccid}")
              .header("X-API-Key", "$API_KEY")
              .header("Content-Type", "application/json")
              .asString();
  /esims/{iccid}/history:
    get:
      summary: Get eSIM history
      description: |
        This endpoint returns the history of a specific eSIM. It provides a chronological list of actions performed on the eSIM, including bundle assignments and their states.

        This endpoint is useful for tracking the lifecycle of an eSIM, including bundle assignments, updates, and other significant events.

        Bundle Assignment States:
        - **Bundle Applied:**
          The bundle has been successfully assigned to the eSIM
        - **eSIM Updated:**
          The eSIM Reference has been updated.
        - **eSIM Refreshed:**
          eSIM was forcibly disconnected from the network, prompting it to reestablish its connection.
        - **eSIM Utilisation Alert:**
          A notification has been triggered due to the eSIM reaching a certain usage threshold.
        - **eSIM Returned:**
          The eSIM is no longer assigned to your organisation after undergoing the returns process.
        - **Bundle Refunded To Balance:**
          The unused bundle has been credited back to the organization's account balance.
        - **Bundle Refunded to Inventory:**
          The unused bundle has been returned to the organization's inventory for potential reassignment.
        - **Bundle Revoked:**
          The bundle has been removed from the eSIM.
        - **eSIM First Attachment:**
          The eSIM has successfully connected to a mobile network for the first time since activation.
        - **eSIM First Use:**
         The eSIM has been used for the first time to consume data service.
        - **Bundle Expired:**
          The bundle's validity period has ended and/or has been used in full. It is no longer active or usable.
        - **Bundle Lapsed:**
          The bundle has become inactive after no activity for 12 months.
      tags:
        - eSIMs
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: iccid
          in: path
          schema:
            type: string
          required: true
          description: (Required) The ICCID of the eSIM
          example: 8944123456789012000
      security:
        - apiKeyAuth: []
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ESIMHistory"
              example:
                - name: Bundle Applied
                  bundleName: A_BUNDLE_20GB_30D_EU_U
                  date: "2023-04-07T00:50:31.618780311Z"
                - name: Bundle Revoked
                  bundleName: A_BUNDLE_20GB_30D_EU_U
                  date: "2023-04-07T00:50:31.618780311Z"
        "400":
          description: Bad Request - returned when request format is not accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "403":
          description: Unauthorised - returned when the api token is invalid; the user does not have any available Bundles left or the ICCID is not accessible by the user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "503":
          description: Processing - Please come back later or use the *Retry-After* (seconds) header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |-
            curl -g 'https://api.esim-go.com/v2.5/esims/{iccid}/history' \
            -H 'X-API-Key: $API_KEY' \
            -H 'Content-Type: application/json'
        - lang: javascript
          label: Node
          source: |
            const axios = require('axios');

            let config = {
              method: 'get',
              maxBodyLength: Infinity,
              url: 'https://api.esim-go.com/v2.5/esims/{iccid}/history',
              headers: { 
                'X-API-Key': '$API_KEY', 
                'Content-Type': 'application/json'
              }
            };

            axios.request(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
            })
            .catch((error) => {
              console.log(error);
            });
        - lang: go
          label: Go
          source: |-
            package main

            import (
              "fmt"
              "net/http"
              "io"
            )

            func main() {

              url := "https://api.esim-go.com/v2.5/esims/{iccid}/history"
              method := "GET"

              client := &http.Client {
              }
              req, err := http.NewRequest(method, url, nil)

              if err != nil {
                fmt.Println(err)
                return
              }
              req.Header.Add("X-API-Key", "$API_KEY")
              req.Header.Add("Content-Type", "application/json")

              res, err := client.Do(req)
              if err != nil {
                fmt.Println(err)
                return
              }
              defer res.Body.Close()

              body, err := io.ReadAll(res.Body)
              if err != nil {
                fmt.Println(err)
                return
              }
              fmt.Println(string(body))
            }
        - lang: python
          label: Python
          source: |
            import requests
            import json

            url = "https://api.esim-go.com/v2.5/esims/{iccid}/history"

            payload = {}
            headers = {
              'X-API-Key': '$API_KEY',
              'Content-Type': 'application/json'
            }

            response = requests.request("GET", url, headers=headers, data=payload)

            print(response.text)
        - lang: csharp
          label: C#
          source: |
            var client = new HttpClient();
            var request = new HttpRequestMessage(HttpMethod.Get, "https://api.esim-go.com/v2.5/esims/{iccid}/history");
            request.Headers.Add("X-API-Key", "$API_KEY");
            var content = new StringContent(string.Empty);
            content.Headers.ContentType = new MediaTypeHeaderValue("application/json");
            request.Content = content;
            var response = await client.SendAsync(request);
            response.EnsureSuccessStatusCode();
            Console.WriteLine(await response.Content.ReadAsStringAsync());
        - lang: java
          label: Java
          source: |
            Unirest.setTimeouts(0, 0);
            HttpResponse<String> response = Unirest.get("https://api.esim-go.com/v2.5/esims/{iccid}/history")
              .header("X-API-Key", "$API_KEY")
              .header("Content-Type", "application/json")
              .asString();
  /esims/{iccid}/refresh:
    get:
      summary: Refresh eSIM
      description: |-
        This request generates a cancel location request to the network, prompting it to reestablish its connection.
        Please note that this process disconnects the customer from the network and should be used solely for troubleshooting. It is not intended for canceling locations in bulk.

        Deactivated eSIMs cannot be refreshed and will return a 400 Bad Request error.
      tags:
        - eSIMs
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: iccid
          in: path
          schema:
            type: string
          required: true
          description: (Required) The ICCID of the eSIM
          example: 8944123456789012000
      security:
        - apiKeyAuth: []
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusMessage"
              example:
                status: Successfully refreshed SIM
        "400":
          description: Bad Request - returned when request format is not accepted or when the eSIM is deactivated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "403":
          description: Unauthorised - returned when the api token is invalid; the user does not have any available Bundles left or the ICCID is not accessible by the user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "503":
          description: Processing - Please come back later or use the *Retry-After* (seconds) header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |-
            curl -g 'https://api.esim-go.com/v2.5/esims/{iccid}/refresh' \
            -H 'X-API-Key: $API_KEY' \
            -H 'Content-Type: application/json'
        - lang: javascript
          label: Node
          source: |
            const axios = require('axios');

            let config = {
              method: 'get',
              maxBodyLength: Infinity,
              url: 'https://api.esim-go.com/v2.5/esims/{iccid}/refresh',
              headers: { 
                'X-API-Key': '$API_KEY', 
                'Content-Type': 'application/json'
              }
            };

            axios.request(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
            })
            .catch((error) => {
              console.log(error);
            });
        - lang: go
          label: Go
          source: |-
            package main

            import (
              "fmt"
              "net/http"
              "io"
            )

            func main() {

              url := "https://api.esim-go.com/v2.5/esims/{iccid}/refresh"
              method := "GET"

              client := &http.Client {
              }
              req, err := http.NewRequest(method, url, nil)

              if err != nil {
                fmt.Println(err)
                return
              }
              req.Header.Add("X-API-Key", "$API_KEY")
              req.Header.Add("Content-Type", "application/json")

              res, err := client.Do(req)
              if err != nil {
                fmt.Println(err)
                return
              }
              defer res.Body.Close()

              body, err := io.ReadAll(res.Body)
              if err != nil {
                fmt.Println(err)
                return
              }
              fmt.Println(string(body))
            }
        - lang: python
          label: Python
          source: |
            import requests
            import json

            url = "https://api.esim-go.com/v2.5/esims/{iccid}/refresh"

            payload = {}
            headers = {
              'X-API-Key': '$API_KEY',
              'Content-Type': 'application/json'
            }

            response = requests.request("GET", url, headers=headers, data=payload)

            print(response.text)
        - lang: csharp
          label: C#
          source: |
            var client = new HttpClient();
            var request = new HttpRequestMessage(HttpMethod.Get, "https://api.esim-go.com/v2.5/esims/{iccid}/refresh");
            request.Headers.Add("X-API-Key", "$API_KEY");
            var content = new StringContent(string.Empty);
            content.Headers.ContentType = new MediaTypeHeaderValue("application/json");
            request.Content = content;
            var response = await client.SendAsync(request);
            response.EnsureSuccessStatusCode();
            Console.WriteLine(await response.Content.ReadAsStringAsync());
        - lang: java
          label: Java
          source: |
            Unirest.setTimeouts(0, 0);
            HttpResponse<String> response = Unirest.get("https://api.esim-go.com/v2.5/esims/{iccid}/refresh")
              .header("X-API-Key", "$API_KEY")
              .header("Content-Type", "application/json")
              .asString();
  /esims/{iccid}/compatible/{bundle}:
    get:
      summary: Check eSIM and Bundle Compatibility
      description: |-
        To ensure optimal service, eSIM Go utilizes multiple providers. As a result, certain bundles may be incompatible with existing eSIMs if they originate from different providers, preventing eSIM top-ups.

          This endpoint is designed to verify eSIM-bundle compatibility.
      tags:
        - eSIMs
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: iccid
          in: path
          schema:
            type: string
          required: true
          description: (Required) The ICCID of the eSIM
          example: 8944123456789012000
        - name: bundle
          in: path
          schema:
            type: string
          required: true
      security:
        - apiKeyAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompatibilityResponse"
              example:
                compatible: false
        "400":
          description: Bad Request - returned when request format is not accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "403":
          description: Unauthorised - returned when the api token is invalid; the user does not have any available Bundles left or the ICCID is not accessible by the user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "503":
          description: Processing - Please come back later or use the *Retry-After* (seconds) header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |-
            curl -g 'https://api.esim-go.com/v2.5/esims/{iccid}/compatible/{bundle}' \
            -H 'X-API-Key: $API_KEY' \
            -H 'Content-Type: application/json'
        - lang: javascript
          label: Node
          source: |
            const axios = require('axios');

            let config = {
              method: 'get',
              maxBodyLength: Infinity,
              url: 'https://api.esim-go.com/v2.5/esims/{iccid}/compatible/{bundle}',
              headers: { 
                'X-API-Key': '$API_KEY', 
                'Content-Type': 'application/json'
              }
            };

            axios.request(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
            })
            .catch((error) => {
              console.log(error);
            });
        - lang: go
          label: Go
          source: |-
            package main

            import (
              "fmt"
              "net/http"
              "io"
            )

            func main() {

              url := "https://api.esim-go.com/v2.5/esims/{iccid}/compatible/{bundle}"
              method := "GET"

              client := &http.Client {
              }
              req, err := http.NewRequest(method, url, nil)

              if err != nil {
                fmt.Println(err)
                return
              }
              req.Header.Add("X-API-Key", "$API_KEY")
              req.Header.Add("Content-Type", "application/json")

              res, err := client.Do(req)
              if err != nil {
                fmt.Println(err)
                return
              }
              defer res.Body.Close()

              body, err := io.ReadAll(res.Body)
              if err != nil {
                fmt.Println(err)
                return
              }
              fmt.Println(string(body))
            }
        - lang: python
          label: Python
          source: |
            import requests
            import json

            url = "https://api.esim-go.com/v2.5/esims/{iccid}/compatible/{bundle}"

            payload = {}
            headers = {
              'X-API-Key': '$API_KEY',
              'Content-Type': 'application/json'
            }

            response = requests.request("GET", url, headers=headers, data=payload)

            print(response.text)
        - lang: csharp
          label: C#
          source: |
            var client = new HttpClient();
            var request = new HttpRequestMessage(HttpMethod.Get, "https://api.esim-go.com/v2.5/esims/{iccid}/compatible/{bundle}");
            request.Headers.Add("X-API-Key", "$API_KEY");
            var content = new StringContent(string.Empty);
            content.Headers.ContentType = new MediaTypeHeaderValue("application/json");
            request.Content = content;
            var response = await client.SendAsync(request);
            response.EnsureSuccessStatusCode();
            Console.WriteLine(await response.Content.ReadAsStringAsync());
        - lang: java
          label: Java
          source: |
            Unirest.setTimeouts(0, 0);
            HttpResponse<String> response = Unirest.get("https://api.esim-go.com/v2.5/esims/{iccid}/compatible/{bundle}")
              .header("X-API-Key", "$API_KEY")
              .header("Content-Type", "application/json")
              .asString();
  /esims/{iccid}/sms:
    post:
      summary: Send SMS to eSIM
      description: |
        The Send SMS endpoint is a powerful feature of the eSIMGo API that allows you to send text messages directly to eSIMs. This endpoint becomes particularly useful when combined with eSIMGo's real-time notification system, which provides updates about eSIM activity through callback functionality. The callback should be set up separatelly.

         Key points:

        1. Message requirements:
          - UTF-8 compliant
          - Length: 1-160 characters

        2. Default recipient: 'eSIM' (currently the only supported value)
          - Custom identifiers available upon request

        Note: For custom identifiers, please contact your Account Manager.

        Deactivated eSIMs cannot receive SMS messages.
      tags:
        - eSIMs
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  description: UTF-8 compliant message
                  type: string
                  required: true
                  minLength: 1
                  maxLength: 160
                  default: message
                from:
                  description: |
                    Name of sender that will show in SMS.

                    This defaults to `eSIM` and is the only supported value by default. Unique identifiers can be assigned to your Organisation on request.
                  type: string
                  default: eSIM
              example:
                message: Hello!
                from: eSIM
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: iccid
          in: path
          schema:
            type: string
          required: true
          description: (Required) The ICCID of the eSIM
          example: 8944123456789012000
      security:
        - apiKeyAuth: []
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusMessage"
              example:
                status: sent
        "400":
          description: Bad Request - returned when request format is not accepted or when the eSIM is deactivated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "403":
          description: Unauthorised - returned when the api token is invalid; the user does not have any available Bundles left or the ICCID is not accessible by the user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "503":
          description: Processing - Please come back later or use the *Retry-After* (seconds) header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |-
            curl -g 'https://api.esim-go.com/v2.5/esims/{iccid}/sms' \
            -H 'X-API-Key: $API_KEY' \
            -H 'Content-Type: application/json' \
            -d '{"type":"object","properties":{"message":{"description":"UTF-8 compliant message","type":"string","required":true,"minLength":1,"maxLength":160,"default":"message"},"from":{"description":"Name of sender that will show in SMS.\n\nThis defaults to `eSIM` and is the only supported value by default. Unique identifiers can be assigned to your Organisation on request.\n","type":"string","default":"eSIM"}},"example":{"message":"Hello!","from":"eSIM"}}'
        - lang: javascript
          label: Node
          source: |
            const axios = require('axios');
            let data = JSON.stringify({
              "type": "object",
              "properties": {
                "message": {
                  "description": "UTF-8 compliant message",
                  "type": "string",
                  "required": true,
                  "minLength": 1,
                  "maxLength": 160,
                  "default": "message"
                },
                "from": {
                  "description": "Name of sender that will show in SMS.\n\nThis defaults to `eSIM` and is the only supported value by default. Unique identifiers can be assigned to your Organisation on request.\n",
                  "type": "string",
                  "default": "eSIM"
                }
              },
              "example": {
                "message": "Hello!",
                "from": "eSIM"
              }
            });

            let config = {
              method: 'post',
              maxBodyLength: Infinity,
              url: 'https://api.esim-go.com/v2.5/esims/{iccid}/sms',
              headers: { 
                'X-API-Key': '$API_KEY', 
                'Content-Type': 'application/json'
              },
              data : data
            };

            axios.request(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
            })
            .catch((error) => {
              console.log(error);
            });
        - lang: go
          label: Go
          source: |-
            package main

            import (
              "fmt"
              "strings"
              "net/http"
              "io"
            )

            func main() {

              url := "https://api.esim-go.com/v2.5/esims/{iccid}/sms"
              method := "POST"

              payload := strings.NewReader(`{"type":"object","properties":{"message":{"description":"UTF-8 compliant message","type":"string","required":true,"minLength":1,"maxLength":160,"default":"message"},"from":{"description":"Name of sender that will show in SMS.\n\nThis defaults to `+"`"+`eSIM`+"`"+` and is the only supported value by default. Unique identifiers can be assigned to your Organisation on request.\n","type":"string","default":"eSIM"}},"example":{"message":"Hello!","from":"eSIM"}}`)

              client := &http.Client {
              }
              req, err := http.NewRequest(method, url, payload)

              if err != nil {
                fmt.Println(err)
                return
              }
              req.Header.Add("X-API-Key", "$API_KEY")
              req.Header.Add("Content-Type", "application/json")

              res, err := client.Do(req)
              if err != nil {
                fmt.Println(err)
                return
              }
              defer res.Body.Close()

              body, err := io.ReadAll(res.Body)
              if err != nil {
                fmt.Println(err)
                return
              }
              fmt.Println(string(body))
            }
        - lang: python
          label: Python
          source: |
            import requests
            import json

            url = "https://api.esim-go.com/v2.5/esims/{iccid}/sms"

            payload = json.dumps({
              "type": "object",
              "properties": {
                "message": {
                  "description": "UTF-8 compliant message",
                  "type": "string",
                  "required": True,
                  "minLength": 1,
                  "maxLength": 160,
                  "default": "message"
                },
                "from": {
                  "description": "Name of sender that will show in SMS.\n\nThis defaults to `eSIM` and is the only supported value by default. Unique identifiers can be assigned to your Organisation on request.\n",
                  "type": "string",
                  "default": "eSIM"
                }
              },
              "example": {
                "message": "Hello!",
                "from": "eSIM"
              }
            })
            headers = {
              'X-API-Key': '$API_KEY',
              'Content-Type': 'application/json'
            }

            response = requests.request("POST", url, headers=headers, data=payload)

            print(response.text)
        - lang: csharp
          label: C#
          source: |
            var client = new HttpClient();
            var request = new HttpRequestMessage(HttpMethod.Post, "https://api.esim-go.com/v2.5/esims/{iccid}/sms");
            request.Headers.Add("X-API-Key", "$API_KEY");
            var content = new StringContent("{\"type\":\"object\",\"properties\":{\"message\":{\"description\":\"UTF-8 compliant message\",\"type\":\"string\",\"required\":true,\"minLength\":1,\"maxLength\":160,\"default\":\"message\"},\"from\":{\"description\":\"Name of sender that will show in SMS.\\n\\nThis defaults to `eSIM` and is the only supported value by default. Unique identifiers can be assigned to your Organisation on request.\\n\",\"type\":\"string\",\"default\":\"eSIM\"}},\"example\":{\"message\":\"Hello!\",\"from\":\"eSIM\"}}", null, "application/json");
            request.Content = content;
            var response = await client.SendAsync(request);
            response.EnsureSuccessStatusCode();
            Console.WriteLine(await response.Content.ReadAsStringAsync());
        - lang: java
          label: Java
          source: |
            Unirest.setTimeouts(0, 0);
            HttpResponse<String> response = Unirest.post("https://api.esim-go.com/v2.5/esims/{iccid}/sms")
              .header("X-API-Key", "$API_KEY")
              .header("Content-Type", "application/json")
              .body("{\"type\":\"object\",\"properties\":{\"message\":{\"description\":\"UTF-8 compliant message\",\"type\":\"string\",\"required\":true,\"minLength\":1,\"maxLength\":160,\"default\":\"message\"},\"from\":{\"description\":\"Name of sender that will show in SMS.\\n\\nThis defaults to `eSIM` and is the only supported value by default. Unique identifiers can be assigned to your Organisation on request.\\n\",\"type\":\"string\",\"default\":\"eSIM\"}},\"example\":{\"message\":\"Hello!\",\"from\":\"eSIM\"}}")
              .asString();
  /esims/{iccid}/bundles:
    get:
      summary: List Bundles applied to eSIM
      description: |
        This endpoint allows you to retrieve a list of all bundles that have been applied to a specific eSIM. This endpoint is useful for tracking the service history and current status of an eSIM.

        Remaining data can be found here.

        Each Bundle can have multiple assignments.

        Bundle Assignment States:
        - **Processing:**
          The bundle assignment is currently processing.
          This is usually instant but can, on occasion, take up to 10 minutes to complete.
          The eSIM can still be installed and will register on a network while the bundle is processing.
        - **Queued:**
          The bundle has been successfully assigned, has not been used yet, and is queued for use.
        - **Active:**
          The bundle has successfully been used.
          It has data remaining and is within the bundle duration.
        - **Depleted:**
          The bundle has no data remaining but is still within the bundle duration.
        - **Expired:**
          The bundle has expired, and the bundle duration has been exceeded.
        - **Revoked:**
          The bundle has been revoked, and is no longer on the esim.
        - **Lapsed:**
          The bundle has expired without being used and is no longer on the eSIM.
      tags:
        - eSIMs
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: includeUsed
          in: query
          schema:
            type: string
          description: |
            Include used & expired Bundles
            Backward compatibility for v2.1
          example: true
        - name: limit
          in: query
          schema:
            type: string
          description: |
            Number of assignments to return. Must be between 1 and 200. Default is 15
          example: 10
        - name: iccid
          in: path
          schema:
            type: string
          required: true
          description: (Required) The ICCID of the eSIM
          example: 8943108165016100000
      security:
        - apiKeyAuth: []
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BundlesList"
              example:
                bundles:
                  - name: esim_1GB_7D_GB_V2
                    description: eSIM, 1GB, 7 Days, United Kingdom, V2
                    assignments:
                      - id: "215009266"
                        callTypeGroup: data
                        initialQuantity: 1000000000
                        remainingQuantity: 1000000000
                        assignmentDateTime: "2024-12-11T10:47:00.34523Z"
                        assignmentReference: 3a6e2e40-c674-45e9-b289-b35027bf72a9-0
                        bundleState: queued
                        unlimited: false
        "400":
          description: Bad Request - returned when request format is not accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "403":
          description: Unauthorised - returned when the api token is invalid; the user does not have any available Bundles left or the ICCID is not accessible by the user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "503":
          description: Processing - Please come back later or use the *Retry-After* (seconds) header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |-
            curl -g 'https://api.esim-go.com/v2.5/esims/{iccid}/bundles' \
            -H 'X-API-Key: $API_KEY' \
            -H 'Content-Type: application/json'
        - lang: javascript
          label: Node
          source: |
            const axios = require('axios');

            let config = {
              method: 'get',
              maxBodyLength: Infinity,
              url: 'https://api.esim-go.com/v2.5/esims/{iccid}/bundles',
              headers: { 
                'X-API-Key': '$API_KEY', 
                'Content-Type': 'application/json'
              }
            };

            axios.request(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
            })
            .catch((error) => {
              console.log(error);
            });
        - lang: go
          label: Go
          source: |-
            package main

            import (
              "fmt"
              "net/http"
              "io"
            )

            func main() {

              url := "https://api.esim-go.com/v2.5/esims/{iccid}/bundles"
              method := "GET"

              client := &http.Client {
              }
              req, err := http.NewRequest(method, url, nil)

              if err != nil {
                fmt.Println(err)
                return
              }
              req.Header.Add("X-API-Key", "$API_KEY")
              req.Header.Add("Content-Type", "application/json")

              res, err := client.Do(req)
              if err != nil {
                fmt.Println(err)
                return
              }
              defer res.Body.Close()

              body, err := io.ReadAll(res.Body)
              if err != nil {
                fmt.Println(err)
                return
              }
              fmt.Println(string(body))
            }
        - lang: python
          label: Python
          source: |
            import requests
            import json

            url = "https://api.esim-go.com/v2.5/esims/{iccid}/bundles"

            payload = {}
            headers = {
              'X-API-Key': '$API_KEY',
              'Content-Type': 'application/json'
            }

            response = requests.request("GET", url, headers=headers, data=payload)

            print(response.text)
        - lang: csharp
          label: C#
          source: |
            var client = new HttpClient();
            var request = new HttpRequestMessage(HttpMethod.Get, "https://api.esim-go.com/v2.5/esims/{iccid}/bundles");
            request.Headers.Add("X-API-Key", "$API_KEY");
            var content = new StringContent(string.Empty);
            content.Headers.ContentType = new MediaTypeHeaderValue("application/json");
            request.Content = content;
            var response = await client.SendAsync(request);
            response.EnsureSuccessStatusCode();
            Console.WriteLine(await response.Content.ReadAsStringAsync());
        - lang: java
          label: Java
          source: |
            Unirest.setTimeouts(0, 0);
            HttpResponse<String> response = Unirest.get("https://api.esim-go.com/v2.5/esims/{iccid}/bundles")
              .header("X-API-Key", "$API_KEY")
              .header("Content-Type", "application/json")
              .asString();
    post:
      summary: Apply a Bundle to an eSIM (Deprecated)
      tags:
        - eSIMs (Deprecated)
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: iccid
          in: path
          schema:
            type: string
          required: true
          description: (Required) The ICCID of the eSIM
          example: <string>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: <string>
                startTime: <string>
                repeat: <integer>
      security:
        - apiKeyAuth: []
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                status: <string>
        "400":
          description: Bad Request - returned when request format is not accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "403":
          description: Unauthorised - returned when the api token is invalid; the user does not have any available Bundles left or the ICCID is not accessible by the user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "503":
          description: Processing - Please come back later or use the *Retry-After* (seconds) header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |-
            curl -g 'https://api.esim-go.com/v2.5/esims/{iccid}/bundles' \
            -H 'X-API-Key: $API_KEY' \
            -H 'Content-Type: application/json' \
            -d '{"type":"object","example":{"name":"<string>","startTime":"<string>","repeat":"<integer>"}}'
        - lang: javascript
          label: Node
          source: |
            const axios = require('axios');
            let data = JSON.stringify({
              "type": "object",
              "example": {
                "name": "<string>",
                "startTime": "<string>",
                "repeat": "<integer>"
              }
            });

            let config = {
              method: 'post',
              maxBodyLength: Infinity,
              url: 'https://api.esim-go.com/v2.5/esims/{iccid}/bundles',
              headers: { 
                'X-API-Key': '$API_KEY', 
                'Content-Type': 'application/json'
              },
              data : data
            };

            axios.request(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
            })
            .catch((error) => {
              console.log(error);
            });
        - lang: go
          label: Go
          source: |-
            package main

            import (
              "fmt"
              "strings"
              "net/http"
              "io"
            )

            func main() {

              url := "https://api.esim-go.com/v2.5/esims/{iccid}/bundles"
              method := "POST"

              payload := strings.NewReader(`{"type":"object","example":{"name":"<string>","startTime":"<string>","repeat":"<integer>"}}`)

              client := &http.Client {
[...]
